<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
  "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>Miguel Regedor Personal Space - {{ page.title }}</title>
  <meta name="author" content="Miguel Regedor" />
  <meta name="Description" content="Miguel Regedor's Personal Web Site"> 
  <meta name="Keywords" 
    content="Miguel Regedor, Regedor, Internet, Developer, Web, Group Buddies, Project Manager, Ruby on Rails, Uminho, University of Minho, Portugal"> 
  <link rel="shortcut icon" href="http://www.regedor.com/favicon.ico" type="image/x-icon" />
  <link rel="icon"          href="http://www.regedor.com/favicon.ico" type="image/x-icon" />
  <link href="http://feeds.feedburner.com/regedor" rel="alternate" title="Miguel Regedor" type="application/atom+xml" />
  <link rel="stylesheet" href="/css/reset.css" type="text/css" />
  <link rel="stylesheet" href="/css/home.css" type="text/css" media="screen, projection"/>
  <script type="text/javascript" src="http://use.typekit.com/cob2uuo.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  {{ content }}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24035599-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>																																												  
